<div class="p-4 text-xl font-bold border-b border-gray-700 bg-gray-900 text-white">
  Party Manager
</div>

<nav class="flex flex-col p-2 space-y-2 bg-gray-900 text-gray-300 h-full">
  <a routerLink="/parties" routerLinkActive="bg-blue-600 text-white" class="p-2 rounded hover:bg-gray-700">🎉
    Parties</a>

  <a routerLink="/users" routerLinkActive="bg-blue-600 text-white" class="p-2 rounded hover:bg-gray-700">👤 Users</a>

  <a routerLink="/settings" routerLinkActive="bg-blue-600 text-white" class="p-2 rounded hover:bg-gray-700">⚙️
    Settings</a>
</nav>
