<mat-toolbar color="primary" class="!bg-indigo-600 !text-white text-center font-bold">
  Party Manager
</mat-toolbar>

<mat-nav-list class="!px-2">
  <a mat-list-item routerLink="/parties" class="!text-white" routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: false  }">
    <mat-icon class="mr-2 !text-white">groups</mat-icon>
    <span class="-mt-4 !text-white">Parties</span>
  </a>

  <a mat-list-item routerLink="/users" class="!text-white" routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: false  }">
    <mat-icon class="mr-2 !text-white">person</mat-icon>
    <span class="-mt-4 !text-white">Users</span>
  </a>

  <a mat-list-item routerLink="/settings" class="!text-white" routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: false  }">
    <mat-icon class="mr-2 !text-white">settings</mat-icon>
    <span class="-mt-4 !text-white">Settings</span>
  </a>
</mat-nav-list>

<div class="absolute bottom-0 w-full p-2">
  <button mat-raised-button color="warn" class="w-full !bg-transparent !shadow-none !text-white" (click)="logout()">
    <mat-icon>logout</mat-icon>
    Logout
  </button>
</div>
