<div class="container mx-auto px-4">
  <div class="flex justify-center items-center h-screen">
    <mat-card class="w-full max-w-sm p-6 shadow-xl rounded-2xl bg-white">
      <h1 class="text-2xl font-bold text-center text-gray-800 mb-1.5">Login</h1>
      <p class="text-center text-gray-500 mb-6">Please log in to access and manage your party details</p>

      <form [formGroup]="loginForm" (ngSubmit)="loginUser()" class="space-y-4">
        <!-- Username -->
        <mat-form-field appearance="outline" class="w-full">
          <input matInput placeholder="Enter username" formControlName="username" />
          <mat-error
            *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)">
            <ng-container *ngIf="loginForm.get('username')?.hasError('required')">
              username is required
            </ng-container>
          </mat-error>
        </mat-form-field>

        <!-- Password -->
        <mat-form-field appearance="outline" class="w-full">
          <input matInput type="password" placeholder="Enter password" formControlName="password" />
          <mat-error
            *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
            <ng-container *ngIf="loginForm.get('password')?.hasError('required')">
              Password is required
            </ng-container>
            <ng-container *ngIf="loginForm.get('password')?.hasError('minlength')">
              Password must be at least 6 characters
            </ng-container>
          </mat-error>
        </mat-form-field>

        <!-- Button -->
        <button mat-raised-button color="primary" type="submit"
          class="w-full !py-2 !rounded-md !text-white font-medium transition duration-200"
          [disabled]="loginForm.invalid" [ngClass]="{
            '!bg-indigo-600 hover:!bg-indigo-700 cursor-pointer shadow-md': !loginForm.invalid,
            '!bg-slate-300 !text-slate-500 cursor-not-allowed shadow-none': loginForm.invalid
          }">
          Login
        </button>

      </form>
    </mat-card>

    <app-loader [loading]="isLoader" />
  </div>
</div>
