<app-breadcrumb title="Create Party" [breadcrumbs]="[
    { label: 'Dashboard', url: '/dashboard' },
    { label: 'Parties', url: '/parties' },
    { label: 'Create Party' }
  ]" />

<form [formGroup]="partyForm" (ngSubmit)="saveParty()" class="party-form">
  <!-- Basic Info -->
  <mat-card class="mb-6 p-4 !bg-white">
    <mat-card-title>Basic Information</mat-card-title>
    <div class="grid md:grid-cols-12 gap-4 mt-4">
      <div class="md:col-span-4">
        <mat-form-field appearance="outline" class="w-full">
          <input matInput formControlName="name" placeholder="Enter full name">
        </mat-form-field>
      </div>

      <div class="md:col-span-4">
        <mat-form-field appearance="outline" class="w-full">
          <input matInput formControlName="company_name" placeholder="Enter company name">
        </mat-form-field>
      </div>

      <div class="md:col-span-4">
        <mat-form-field appearance="outline" class="w-full">
          <input matInput formControlName="email" type="email" placeholder="Enter email">
        </mat-form-field>
      </div>

      <div class="md:col-span-4">
        <mat-form-field appearance="outline" class="w-full">
          <input matInput formControlName="mobile_no" placeholder="Enter mobile number">
        </mat-form-field>
      </div>

      <div class="md:col-span-4">
        <mat-form-field appearance="outline" class="w-full">
          <input matInput formControlName="telephone_no" placeholder="Enter telephone number">
        </mat-form-field>
      </div>

      <div class="md:col-span-4">
        <mat-form-field appearance="outline" class="w-full">
          <input matInput formControlName="whatsapp_no" placeholder="Enter WhatsApp number">
        </mat-form-field>
      </div>

      <div class="md:col-span-4">
        <mat-slide-toggle formControlName="login_access">
          Login Access
        </mat-slide-toggle>
      </div>

      <div class="md:col-span-4">
        <mat-form-field appearance="outline" class="w-full">
          <input matInput [matDatepicker]="dobPicker" formControlName="date_of_birth"
            placeholder="Select date of birth">
          <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
          <mat-datepicker #dobPicker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="md:col-span-4">
        <mat-form-field appearance="outline" class="w-full">
          <input matInput [matDatepicker]="anniversaryPicker" formControlName="anniversary_date"
            placeholder="Select anniversary date">
          <mat-datepicker-toggle matSuffix [for]="anniversaryPicker"></mat-datepicker-toggle>
          <mat-datepicker #anniversaryPicker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-span-12">
        <mat-form-field appearance="outline" class="w-full md:col-span-2">
          <textarea matInput formControlName="remark" placeholder="Add remarks"></textarea>
        </mat-form-field>
      </div>
    </div>
  </mat-card>

  <!-- GST & PAN -->
  <mat-card class="mb-6 p-4 !bg-white">
    <mat-card-title>GST & PAN Details</mat-card-title>
    <div class="grid md:grid-cols-12 gap-4 mt-4">
      <div class="md:col-span-4">
        <mat-form-field appearance="outline" class="w-full">
          <mat-select formControlName="gst_type">
            <mat-option value="">Select GST Type</mat-option>
            <mat-option value="UnRegistered">UnRegistered</mat-option>
            <mat-option value="Registered Regular">Registered Regular</mat-option>
            <mat-option value="Registered Composition">Registered Composition</mat-option>
            <mat-option value="Input Service Distributor">Input Service Distributor</mat-option>
            <mat-option value="Ecommerce Operator">Ecommerce Operator</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="md:col-span-4">
        <mat-form-field appearance="outline" class="w-full">
          <input matInput formControlName="gstin" placeholder="Enter GSTIN">
        </mat-form-field>
      </div>

      <div class="md:col-span-4">
        <mat-form-field appearance="outline" class="w-full">
          <input matInput formControlName="pan_no" placeholder="Enter PAN No">
        </mat-form-field>
      </div>

      <div class="md:col-span-4">
        <mat-checkbox formControlName="apply_tds">Apply TDS</mat-checkbox>
      </div>
    </div>
  </mat-card>

  <!-- Financial Info -->
  <mat-card class="mb-6 p-4 !bg-white">
    <mat-card-title>Financial Information</mat-card-title>
    <div class="grid md:grid-cols-12 gap-4 mt-4">
      <div class="md:col-span-4">
        <mat-form-field appearance="outline" class="w-full">
          <input matInput type="number" formControlName="credit_limit" placeholder="Enter credit limit">
        </mat-form-field>
      </div>

      <div class="md:col-span-4">
        <mat-form-field appearance="outline" class="w-full">
          <input matInput type="number" formControlName="opening_balance" placeholder="Enter opening balance">
        </mat-form-field>
      </div>

      <div class="md:col-span-4">
        <mat-form-field appearance="outline" class="w-full">
          <mat-select formControlName="opening_balance_type">
            <mat-option value="">Select opening balance Type</mat-option>
            <mat-option value="Cr">Cr</mat-option>
            <mat-option value="Dr">Dr</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="md:col-span-4">
        <mat-form-field appearance="outline" class="w-full">
          <input matInput formControlName="membership" placeholder="Enter membership">
        </mat-form-field>
      </div>

      <div class="md:col-span-4">
        <mat-form-field appearance="outline" class="w-full">
          <input matInput formControlName="supplier_type" placeholder="Enter supplier type">
        </mat-form-field>
      </div>

      <div class="md:col-span-4">
        <mat-form-field appearance="outline" class="w-full">
          <input matInput formControlName="payment_terms" placeholder="Enter payment terms">
        </mat-form-field>
      </div>
    </div>
  </mat-card>

  <!-- Addresses -->
  <mat-card class="mb-6 p-4 !bg-white">
    <mat-card-title>Addresses</mat-card-title>
    <div formArrayName="addresses">
      <ng-container *ngFor="let address of addresses.controls; let i=index" [formGroupName]="i">
        <div class="mb-4 p-4 mt-4 border rounded-md shadow-sm">
          <h4>Address {{i+1}}</h4>
          <div class="grid md:grid-cols-12 gap-4">
            <div class="md:col-span-4">
              <mat-form-field appearance="outline" class="w-full">
                <input matInput formControlName="address_line_1" placeholder="Enter address line 1">
              </mat-form-field>
            </div>

            <div class="md:col-span-4">
              <mat-form-field appearance="outline" class="w-full">
                <input matInput formControlName="address_line_2" placeholder="Enter address line 2">
              </mat-form-field>
            </div>

            <div class="md:col-span-4">
              <mat-form-field appearance="outline" class="w-full">
                <input matInput formControlName="country" type="number" placeholder="Enter country (ex. 91)">
              </mat-form-field>
            </div>

            <div class="md:col-span-4">
              <mat-form-field appearance="outline" class="w-full">
                <input matInput formControlName="state" type="number" placeholder="Enter state (ex. 22)">
              </mat-form-field>
            </div>

            <div class="md:col-span-4">
              <mat-form-field appearance="outline" class="w-full">
                <input matInput formControlName="city" type="number" placeholder="Enter city (ex. 33)">
              </mat-form-field>
            </div>

            <div class="md:col-span-4">
              <mat-form-field appearance="outline" class="w-full">
                <input matInput formControlName="pincode" type="number" placeholder="Enter pincode">
              </mat-form-field>
            </div>

            <div class="md:col-span-4">
              <mat-form-field appearance="outline" class="w-full">
                <input matInput type="text" formControlName="address_type" placeholder="Enter address type">
              </mat-form-field>
            </div>
          </div>
          <div class="flex justify-end">
            <button mat-stroked-button color="warn" type="button"
              class="!border-red-500 !text-red-600 hover:!bg-red-50 transition" (click)="removeAddress(i)">Remove
              Address</button>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="flex justify-end">
      <button mat-raised-button color="primary" type="button"
        class="!bg-green-600 !text-white hover:!bg-green-700 !py-4 shadow-md transition" (click)="addAddress()">Add
        Address</button>
    </div>
  </mat-card>

  <!-- Banks -->
  <mat-card class="mb-6 p-4 !bg-white">
    <mat-card-title>Banks</mat-card-title>
    <div formArrayName="banks">
      <ng-container *ngFor="let bank of banks.controls; let i=index" [formGroupName]="i">
        <div class="mb-4 mt-4 p-4 border rounded-md shadow-sm">
          <h4>Bank {{i+1}}</h4>
          <div class="grid grid-cols-1 md:grid-cols-12 gap-4">
            <div class="md:col-span-4">
              <mat-form-field appearance="outline" class="w-full">
                <input matInput formControlName="bank_ifsc_code" placeholder="Enter IFSC code">
              </mat-form-field>
            </div>

            <div class="md:col-span-4">
              <mat-form-field appearance="outline" class="w-full">
                <input matInput formControlName="bank_name" placeholder="Enter bank name">
              </mat-form-field>
            </div>

            <div class="md:col-span-4">
              <mat-form-field appearance="outline" class="w-full">
                <input matInput formControlName="branch_name" placeholder="Enter branch name">
              </mat-form-field>
            </div>

            <div class="md:col-span-4">
              <mat-form-field appearance="outline" class="w-full">
                <input matInput formControlName="account_no" placeholder="Enter account number">
              </mat-form-field>
            </div>

            <div class="md:col-span-4">
              <mat-form-field appearance="outline" class="w-full">
                <input matInput formControlName="account_holder_name" placeholder="Enter account holder name">
              </mat-form-field>
            </div>
          </div>
          <div class="flex justify-end">
            <button mat-stroked-button type="button" class="!border-red-500 !text-red-600 hover:!bg-red-50 transition"
              (click)="removeBank(i)">Remove Bank</button>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="flex justify-end">
      <button mat-raised-button type="button"
        class="!bg-green-600 !text-white hover:!bg-green-700 !py-4 shadow-md transition" (click)="addBank()">Add
        Bank</button>
    </div>
  </mat-card>

  <!-- Submit -->
  <div class="flex items-center justify-end text-center mt-6 space-x-4">
    <button mat-raised-button
      class="!py-2 !rounded-md !text-black font-medium transition duration-200 !bg-gray-50 hover:!bg-gray-50 cursor-pointer shadow-md"
      type="button" [routerLink]="['/parties']">Cancel</button>
    <button mat-raised-button
      class="!py-2 !rounded-md !text-white font-medium transition duration-200 !bg-indigo-600 hover:!bg-indigo-700 cursor-pointer shadow-md"
      type="submit">Save Party</button>
  </div>
</form>

<app-loader [loading]="isLoader"></app-loader>
